.container-manage-als {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}
.manage-als {
    border: 2px gray solid;
    width: 20%;
}
.create-album-button-home {
    background-color: lightgray;
    width: fit-content;
    border: 1px black solid;
    border-radius: 2px;
}