.container-manage-als {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}
.manage-als {
    border: 2px rgb(164, 162, 162) dotted;
    margin-left: 5px;
    margin-top: 5px;
    width: 15%;
    padding: 10px;
}
.create-album-button-home {
    background-color: lightgray;
    width: fit-content;
    border: 1px black solid;
    border-radius: 2px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
    padding: 10px;
}
.create-album-button-container{
    display: flex;
    justify-content: center;
}

.update-button-manage-albums {
    border: 1px solid black;
    width: fit-content;
    background-color: lightgray;
    margin-top: 30px;
}
.create-first-album {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.create-album-button {
    background-color: lightgray;
    border: 1px solid black;
    padding: 8px;
    border-radius: 7px;
    margin-bottom: 20px;
}
.create-first-album >h2 {
    margin-top: 20px;
}