.button-login-modal-album-listings {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: white;
  background: linear-gradient(to right, rgb(106, 13, 173), rgb(247, 140, 64));
  cursor: pointer;
}

#container-filter-outer {
  background-color: gray;
}

#container-search-bar-album-listings {
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 0 10px;
  gap: 5px;
  width: 450px;
  border: 1px solid lightgrey;
  background-color: rgb(60, 60, 60);
}

#container-search-genre-tags {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 40px;
}

#container-genre-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.genre-tag {
  padding: 7.5px 20px;
  color: white;
  background-color: rgb(77, 77, 77);
  border-radius: 5px;
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.genre-tag.selected {
  background-color: lightgray;
  box-shadow: 0 0 10px lightgray;
  color: rgb(77, 77, 77);
}

#container-album-listings-outer {
  margin: auto;
  background-color: rgb(34, 34, 34);
  height: 180vh;
  height: 3100px;
}

#container-album-listings-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: minmax(100px, max-content) repeat(auto-fill, 200px) 20%;
  grid-template-areas: "left right";
  gap: 40px;
  color: white;
  max-width: 1500px;
  margin: auto;
}

#container-album-listings {
  grid-area: left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding: 20px 0 20px 40px;
  row-gap: 100px;
  column-gap: 20px;
  height: 40px;
}

#container-album {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
}

#container-album-text {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

#container-album-text:hover {
  text-decoration: underline;
}

#container-current-album-outer {
  grid-area: right;
}

#container-current-album-inner {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 20px 40px 20px 0;
  gap: 30px;
  max-width: 500px;
}

.button-wishlist-album-listings {
  width: 100%;
  border-radius: 7px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@media screen and (max-width: 1200px) {
  #container-album-listings {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  #container-album-listings {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  #container-album-listings {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  #container-search-bar-album-listings {
    width: 380px;
  }

  #container-album-listings {
    grid-template-columns: 1fr;
  }

  #container-current-album-outer {
    display: none;
  }
}
