.main-home {
    display: flex;
    flex-direction: column;
}

.container-stroy-home {
    margin: 0 auto;
}

#container-banner-images-outer {
    background: rgb(34, 34, 34);
}

#container-banner-images-inner {
    margin: 0 auto;
    max-width: 1440px;
    display: grid;
    grid-template-areas: "left-banner right-banner";
    column-gap: 5px;
}

#homepage-banner-image-left {
    height: 400px;
    width: 100%;
    grid-area: left-banner;
}

.container-right-img-home {
    grid-area: right-banner;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 400px;

}

.container-right-img-home img {
    height: 130px;
    width: 100%;
}

@media screen and (max-width: 600px) {
    #container-banner-images-inner {
        display: flex;
        flex-direction: column;
        width: 477.5px;
    }

    #homepage-banner-image-left {
        height: 100%;
    }

    .container-right-img-home {
        display: none;
    }
}

.container-body-home {
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

.container-album-home {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    gap: 10px;
}

.container-album-detail-home>img {
    cursor: pointer;
}

.container-album-detail-home>div {
    margin-top: 5px;
}

.container-events-home {
    position: relative;
    background-color: rgb(227, 236, 240);
    min-height: 100vh;
}

.container-events-home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    background-color: rgb(227, 236, 240);
    transform: translateX(-50%);
    z-index: -1;
}

.container-event-home {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.container-event-detail-home {
    background-color: #f0f2f6;
    display: flex;
    flex-direction: column;
    width: 220px;
    padding: 10px;
    cursor: not-allowed;
}

/* .container-text-home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 65%;
} */

/* .container-discover-home {
    display: flex;
    gap: 30px;
    margin-top: 60px;
    margin-bottom: 20px;
} */

.container-all-home {
    display: flex;
    gap: 20px;
}

.container-all-home>p {
    color: white;
    border-radius: 10px;
    padding: 3px 10px 3px 10px;
}

.container-all-home>p:hover {
    background-color: black;
}

.container-all-home {
    position: relative;
    background-color: rgb(90, 179, 216);
    padding: 15px 0px 15px 0px;
}

.container-all-home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    background-color: rgb(90, 179, 216);
    transform: translateX(-50%);
    z-index: -1;
}

.bestselling {
    background-color: rgb(75, 148, 180);
}

.bestselling::before {
    background-color: rgb(75, 148, 180);
}

.artist {
    background-color: rgb(54, 107, 130);
}

.artist::before {
    background-color: rgb(54, 107, 130);
}

/* .container-img-list-home {
    display: flex;
    gap: 20px;
} */

/* .container-down-left-img-home {
    display: flex;
    gap: 10px;
    margin-top: 15px;
} */

/* .container-down-right-img-home {
    flex: 1;
    flex-direction: column;
    display: flex;
    background-color: white;
    height: fit-content;
    padding: 15px 5px 30px 5px;
} */

/* .container-two-list-left-home {
    flex: 2;
} */

/* .buy-now-home {
    display: flex;
    justify-content: space-between;
    width: 100%;
} */

/* .buy-now-home>div {
    border: 1px solid gray;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    text-align: center;
} */

/* .music-player {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
} */

/* .heart-wishlist-home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
} */

/* .page-home {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
} */

/* .page-home>button {
    padding-left: 10px;
    padding-right: 10px;
} */

/* .sigup-input-button-home {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.sigup-input-button-home>input {
    width: 30%;
} */

/* .sigup-input-button-home>button {
    padding-left: 25px;
    padding-right: 25px;
} */

#rolling-home-outer {
    display: flex;
    margin: 0 auto 50px auto;
    gap: 10px;
    width: 1460px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.container-discover-home>p:nth-last-child(-n+3) {
    background-color: lightgray;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    align-items: center;
    display: flex;
}

.rolling-home>img {
    cursor: pointer;
}

.container-album-detail-home {
    display: flex;
    flex-direction: column;
    width: 120px;
}
