.container-album-home {
    margin-top: 20px;
}

.pagination > button {
    width: 70px;
}

/* .page-container-home {
    display: flex;
} */

/* .buy-now-home {
    display: flex;
    flex-direction: column;
} */
