#collection-album-items-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    /* justify-content: space-between; */
    margin: 0 auto;
    padding: 10px;
    gap: 10px;
}

.supported-by-container{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    gap: 20px;
    width: 230px;
}

.supported-by-container:hover {
    border: 2px solid grey
}

.album-art-collection{
    width: 210px;
    height: 210px;
 }

 .supported-by-info{
    /* border: 2px solid green; */
    cursor: pointer;
 }

 .supported-by-info:hover{
    text-decoration: underline;
 }

 .edit-delete-button-collection{
    /* border: 2px solid blue; */
     display: flex;
     flex-direction: column;
     gap: 10px;
 }

 .supported-by-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
