footer {
  height: 80px;
  color: #F8F8F8;
  background-color: #333333;
  display: flex;
  align-items: center;
}

footer>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
}

#container-quick-links-footer {
  display: flex;
  gap: 40px;
  white-space: nowrap;
}
