#banner-user-profile {
  height: 100px;
  background: linear-gradient(to right, rgb(106, 13, 173), rgb(247, 140, 64));
}

#container-user-profile {
  margin: auto;
  max-width: 1200px;
  width: 95%;
  position: relative;
}

#container-details-user-profile {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
  top: -30px;
  z-index: 1;
}

#container-user-album-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#container-collection-wishlist {
  display: flex;
  gap: 50px;
}

.is-active {
  color: rgb(90, 105, 225);
  text-decoration: underline;
}

.container-album-listing-wishlist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 2px;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 400px;
}

.container-album-outline {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  height: 360px;
  padding: 10px;
  transition: border 0.3s ease;
  border: 1px solid transparent;
}

.container-album-outline:hover {
  border: 1px solid lightgray;
}

#container-count-heart-button-wishlist {
  display: flex;
  margin-top: auto;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1300px) {
  .container-album-listing-wishlist{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .container-album-listing-wishlist{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .container-album-listing-wishlist{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .container-album-listing-wishlist{
    grid-template-columns: 1fr;
  }
}
