.container-checkout-process-page {
  width: 500px;
  margin: 100px auto;
  min-height: 1000px;
}

.container-checkout-process-height {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  padding: 40px 30px;
  border: 1px solid lightgray;
}

.container-title-checkout-confirmation {
  display: flex;
  align-items: baseline;
  gap: 20px;
  margin-bottom: 20px;
}

#container-checkout-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid lightgray;
  padding: 40px 30px;
  margin-bottom: 10px;
}

#container-location-checkout {
  display: flex;
  gap: 15px;
}

.container-local-fields-checkout {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.container-cart-items-checkout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 20px;
  background-color: rgb(245, 245, 245);
}

.container-cart-items-checkout img {
  width: 55px;
  aspect-ratio: 1/1;
}

.container-album-art-details-outer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-album-art-details-inner {
  display: flex;
  gap: 20px;
}

.container-album-info-checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-value-currency-checkout {
  display: flex;
  gap: 5px;
  align-items: baseline;
}

#container-cost-calculations-checkout {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container-line-items-checkout {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 90px;
}

#disclaimer-checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
