* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

:root {
  --primary-color: rgb(0, 0, 0)
}

h1 {
  font-size: 1.6rem;
  font-weight: 100;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  height: 30px;
  cursor: pointer;
}

input {
  outline: none;
  height: 30px;
  padding: 0 5px;
}

textarea {
  resize: vertical;
}

select {
  height: 30px;
}
