#albums-container-album-items {
  height: 200px;
  width: 120px;
}

.album-image-album-items {
  height: 120px;
  width: 120px;
}

.album-image-album-items:hover {
  box-shadow: 2px 3px 3px rgb(143, 143, 143);
}

.album-list-album-name {
  font-weight: bold;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 35px;
}

.album-list-album-name:hover {
  text-decoration: underline;
  cursor: pointer;
}
