#albums-container-album-items {
  /* border: 2px solid orange; */
  height: 220px;
  width: 120px;
}


.album-image-album-items {
    /* border: 2px solid red; */
    height: 120px;
    width: 120px;
}

.album-image-album-items:hover {
  box-shadow: 2px 3px 3px rgb(143, 143, 143);
}

.album-list-album-name {
  font-weight: bold;
  font-size: 15px;
}

.album-list-album-name:hover {
  text-decoration: underline;
  cursor: pointer;
}
