#container-main-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;
  width: 95%;
  z-index: 5;
}

.container-primary-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  height: 50px;
  z-index: 6;
}

#container-logo-search-navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}

#container-user-navigation {
  display: flex;
  align-items: center;
  gap: 40px;
  white-space: nowrap;
}

#container-search-bar-navigation {
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
  background-color: #EFEFEF;
}

#container-secondary-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  height: 50px;
}

.container-left-right-secondary-navigation {
  display: flex;
  gap: 25px;
}

.drop-down-genre-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 345px;
  color: white;
  padding: 0 20px;
}

#container-announcement-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  color: white;
  background: linear-gradient(to right, rgb(95, 75, 245), rgb(65, 205, 190));
}

#container-title-checkout {
  display: flex;
  gap: 10px;
}

#circle-div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(to right, rgb(95, 75, 245), rgb(65, 205, 190));
}

#container-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  width: 250px;
  top: 110%;
  right: 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 0 2px #EFEFEF;
  background-color: white;
  user-select: none;
  z-index: 7;
}
